<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>57</BK1>
  <BK2>97</BK2>
  <Col3>d7</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>2</data>
      <data>10</data>
      <data>9</data>
      <data>41</data>
      <data>39</data>
      <data>167</data>
      <data>159</data>
      <data>159</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>128</data>
      <data>160</data>
      <data>96</data>
      <data>104</data>
      <data>216</data>
      <data>218</data>
      <data>246</data>
      <data>246</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>159</data>
      <data>159</data>
      <data>167</data>
      <data>39</data>
      <data>41</data>
      <data>9</data>
      <data>10</data>
      <data>2</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>246</data>
      <data>246</data>
      <data>218</data>
      <data>216</data>
      <data>104</data>
      <data>96</data>
      <data>160</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>223</data>
      <data>255</data>
      <data>247</data>
      <data>255</data>
      <data>127</data>
      <data>255</data>
      <data>85</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>170</data>
      <data>85</data>
      <data>255</data>
      <data>127</data>
      <data>255</data>
      <data>247</data>
      <data>255</data>
      <data>223</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>159</data>
      <data>159</data>
      <data>159</data>
      <data>159</data>
      <data>159</data>
      <data>159</data>
      <data>159</data>
      <data>159</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>246</data>
      <data>246</data>
      <data>246</data>
      <data>246</data>
      <data>246</data>
      <data>246</data>
      <data>246</data>
      <data>246</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>255</data>
      <data>125</data>
      <data>255</data>
      <data>255</data>
      <data>223</data>
      <data>255</data>
      <data>255</data>
      <data>247</data>
    </chardata>
  </character>
</charset>
